/static/vendor/chartist/
/static/vendor/chartist-plugin-tooltips/
/static/vendor/node-sass/
/static/vendor/notyf/
/static/vendor/nouislider/
/static/vendor/onscreen/
/static/vendor/simplebar/
/static/vendor/smooth-scroll/
/static/vendor/sweetalert2/
/static/vendor/waypoints/
/static/vendor/@popperjs/
/static/css/data_tables.css
/static/css/bootstrap-clockpicker.min.css
/db.sqlite3