cachetools==4.2.4
charset-normalizer==2.0.9
django==5.0
docopt==0.6.2
flatbuffers==1.12
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
h5py==3.8.0
idna==3.3
imbalanced-learn==0.10.1
joblib==1.2.0
keras==2.8.0
keras-nightly==2.5.0.dev2021032900
keras-preprocessing==1.1.2
libclang==14.0.1
markdown==3.3.6
mne==1.3.1
num2words==0.5.12
numpy>=1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
plotly==5.20.0
pooch==1.7.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pysptools==0.15.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-plot==0.3.7
spectral==0.23.1
tenacity==8.2.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow==2.8.0
tensorflow-hub==0.12.0
typing-extensions>=3.7.4.3
urllib3==1.26.7
werkzeug==2.0.2
wrapt==1.12.1
regex==2022.7.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.13.5
tqdm==4.65.0
wheel==0.38.4
gunicorn==22.0.0
whitenoise