{% extends 'layout/base.html' %}

{% load i18n static humanize %}

{% block extra_style %}{% endblock extra_style %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            if (window.location.pathname.includes('/best-model')) {
                $('#predict_patient').show()
            }
        });
    </script>

{% endblock extra_script %}


{% block content %}
    <div class="container-fluid py-4">
        <h1 class="fw-bolder text-center pt-2 pb-1">Deep Learning</h1>
        <div class="row mb-4" id="predict_patient" style="display: none">
            <div class="col-lg-6 mb-4">
                <h3 class="fw-bolder pt-2 pb-1">Patient Number</h3>
                <form action="{% url 'core:best_model' %}" class="row" method="post">
                    {% csrf_token %}
                    <div class="col-auto">
                        <input class="form-control" type="number" name="patient_number" required>
                    </div>
                    <div class="col-auto">
                        <button class="form-control btn-primary" type="submit">Predict</button>
                    </div>
                </form>
            </div>
        </div>
        {% if success %}
        <div class="card card-body mb-4">
            <h5 class="text-center">{{ output_string }}</h5>

        </div>
        {% endif %}
        {% if not success %}
            <div class="mb-4">
                <div class="card card-body border-0 shadow">
                    <h5 class="fw-bold text-center">Classification Report</h5>
                    <pre class="text-center font">{{ classificationReport|safe }}</pre>
                </div>
            </div>
            <div class="row">
                <div class="card card-body border-0 shadow col-lg-3 mb-4">
                    <img src="data:image/png;base64,{{ confusion_matrix_string }}" alt="Confusion Matrix" height="400" width="400">
                </div>
                <div class=" card card-body border-0 shadow col-lg-3 mb-4">
                    <img src="data:image/png;base64,{{ roc_curve_string }}" alt="ROC Curve" height="400" width="400">
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
