.select2-container--default .select2-selection--single{
    line-height: 1.5;
    height: auto !important;
    padding: 8px 16px !important;
    color: #6B7280;
    background-color: #ffffff !important;
    background-clip: padding-box;
    border: 1px solid #D1D5DB !important;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.select2-selection__arrow{
    height: 45px !important;
}

