{% load static %}

<!-- Custom CSS -->
<link type="text/css" href="{% static 'css/input_remove_spin.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/custom_icon.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/data_tables.css' %}" rel="stylesheet">

<!--     Fonts and icons     -->
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- Custom CSS -->
<link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" type="text/css" rel="stylesheet">
