<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- Primary Meta Tags -->

        <title>{% block html_title %}Epileptic Seizure Detection{% endblock html_title %}</title>

        <!-- Main CSS -->
        <link type="text/css" href="{% static 'css/volt.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        {% include 'includes/css.html' %}

        {% block extra_style %}{% endblock extra_style %}

        <noscript>
            <strong>Unfortunately, Website doesn't run without Javascript enabled. Please enable javascript to continue.</strong>
        </noscript>
    </head>
    <body>

        {% block main_content %}{% endblock main_content %}
        {% block extra_script %}{% endblock extra_script %}
    </body>
</html>
